@using Sap.SmartAccounting.Mvc.Entities

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> @ConfigGlobal.Assembly.FileVersion
    </div>
    <strong>
        @ConfigGlobal.Assembly.Copyright
        <a href="@ConfigGlobal.Assembly.Description">
            @ConfigGlobal.Assembly.Company
        </a>
    </strong>
</footer>
