<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>Smart Matching</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create", "Payment")"><i class="fa fa-user"></i> Payment</a></li>
                    <li><a href="@Url.Action("Index", "Payment")"><i class="fa fa-map-marker"></i> History</a></li>
                    <li><a href="#"><i class="fa fa-sliders"></i> Log</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>Setting</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-user"></i> Company</a></li>
                    <li><a href="#"><i class="fa fa-sliders"></i> Account</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Role</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-question-circle"></i> <span>API documents</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
