@{
    ViewBag.Title = "Smart Accounting";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b><i class="fa fa-dashboard"></i> Console</b>
            <small>Smart Accounting Machine Learning Platform</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Console</a></li>
            <li class="active">Home</li>
        </ol>
    </section>
    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="mailbox-controls">
                            <!-- /.btn-group -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        onclick="window.location.href = '@Url.Action("Refresh", "Home")'">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                            <div class="box-tools pull-right" style="width: 200px">
                                <div class="has-feedback input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")"
                                           class="form-control" disabled="disabled" placeholder="datetime">
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
